.each-movie-container {
  width: 125px;
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: stretch; */
  margin: 50px 10px;
  color: white;
}

/* .image-container {
  width: 125px;
  height: 200px;
} */

.image-container img {
  width: 100%;
  height: 100%;
}

.info {
  display: inherit;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.original-title {
  height: 18px;
  font-size: 14px;
  text-align: center;
  /* overflow-y: hidden; */
}

.release-date {
  font-size: 0.75rem;
  color: gray;
  text-align: center;
}

/* .each-movie:first-child {
  margin: 0;
  margin-right: 10px;
} */
